
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #3494e6, #ec6ead);
  }
  
  
  
  
  
  
  form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(260, 260, 260, 0.1);
    color:black;
    border: none;
    
  }
  
  form input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.3);
  }
  
  form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #3494e6;
    color: #ffffff;
    cursor: pointer;
  }
  
 
  
  .container {
    text-align: center;
    background:transparent;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 150%;
    justify-content: center;
  }

  h2 {
    color: black;
  }

  label {
    display: block;
    margin: 10px 0;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  button {
    background-color:rgb(56, 134, 149);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

  button:hover {
    background-color:rgb(17, 66, 77);
  }